@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

*,body {
  font-family: 'Open Sans', sans-serif;
}

.heading, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

h1>small, h2>small, h3>small, h4>small, h5>small, h6>small {
  color: #777;
}